---
title: Page not found
permalink: /404.html
---
<!doctype html>
<html>
  <head>
    <title>{{ page.title | escape }}</title>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/stylesheets/default.css">
  </head>
  
  <body>
    <h1><i>{{ page.title | escape }}</i></h1>
    <p>I'm sorry, that page is not here.</p>

    <div id="related">
      <h2>Last posts on this site</h2>

      <ol class="posts">
        {% for post in site.posts limit:3 %}
          <li>
            <span class="date">{{ post.date | date_to_string }}</span>
            ▸ <a href="{{ post.url }}">{{ post.title }}</a>
            {% if post.categories != empty %}<span class="categories">in {{ post.categories | array_to_sentence_string }}</span>{% endif %}
          </li>
        {% endfor %}
      </ol>
    </div>
    
    <p><a class="home" href="/">← home</a></p>
  </body>
</html>
