---
permalink: /blog/
layout: default
title: Mislav's blog
description: >
  Writings and linkings of Mislav Marohnić about Web,
  technology and other topics.
---

<header id=blog>
<h1>{{ page.title }}</h1>

<p class="subtext">
  Writings and linkings by
  <a href="/"><strong>Mislav Marohnić</strong></a>
</p>

<div id="links_me">
  <a href="/projects/">projects</a>
  · @<a href="http://twitter.com/mislav" rel="me">mislav</a>
  · <a href="http://github.com/mislav" rel="me">github.com/mislav</a>
</div>
</header>

<section class="posts">
{% for post in site.posts %}
  {% unless post.tags contains "dated" %}
  <article{% if post.link %} class=link{% elsif post.tags contains "featured" %} class=featured{% endif %}>
    <header>
      {% if post.link %}
      <h2><a href="{{ post.link | escape }}">{{ post.title }}</a>&nbsp;→</h2>
      {% else %}
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      {% endif %}
      <time datetime="{{ post.date | date_to_xmlschema }}" pubdate>{{ post.date | date_to_string }}</time>
      {% if post.link %}· <a href="{{ post.url }}" title=permalink>∞</a>{% endif %}
    </header>

    {% if post.link %}
      {{ post.content }}
    {% else %}
      {% if page.description %}<p>{{ post.description }}</p>{% endif %}
    {% endif %}
  </article>
  {% endunless %}
{% endfor %}
</section>
