---
layout: default
title: Mislav's blog
description: "A hacker's blog by Mislav Marohnić"
permalink: /blog/
---

<h1>{{ page.title }}</h1>

<p class="subtext">A hacker's blog by <a href="/"><strong>Mislav Marohnić</strong></a></p>

<div id="links_me">
  <a href="/projects/">projects</a>
  · <a href="http://twitter.com/mislav" rel="me">twitter.com/mislav</a>
  · <a href="http://github.com/mislav" rel="me">github.com/mislav</a>
</div>

<section class="posts home">
{% for post in site.posts %}
  <article{% if post.link %} class=link{% endif %}>
    <header>
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      <time datetime="{{ post.date | date_to_xmlschema }}" pubdate>{{ post.date | date_to_string }}</time>
    </header>

    {% if page.description %}<p>{{ post.description }}</p>{% endif %}
  </article>
{% endfor %}
</section>
