---
permalink: /blog/
layout: default
title: Mislav's blog
description: >
  Mislav's tech writings.
---

<header id=blog>
<h1>{{ page.title }}</h1>

<p class=byline>
  Tech writings by
  <a href="/"><strong>Mislav Marohnić</strong></a>
</p>

<div id="links_me">
  @<a href="http://twitter.com/mislav" rel="me">mislav</a>
  · <a href="http://github.com/mislav" rel="me">github.com/mislav</a>
</div>
</header>

<section class="posts hfeed">
{% for post in site.posts %}
  {% unless post.tags contains "dated" %}
  <article class="hentry{% if post.tags contains "featured" %} featured{% endif %}">
    <header>
      <h2 class=entry-title><a rel=bookmark href="{{ post.url }}">{{ post.title }}</a></h2>
      <time datetime="{{ post.date | date_to_xmlschema }}" class=published pubdate>{{ post.date | date_to_string }}</time>
    </header>

    {% if page.description %}<p class=entry-summary>{{ post.description }}</p>{% endif %}
  </article>
  {% endunless %}
{% endfor %}
</section>
