---
title: About Mislav
description: >
  Hi, you've reached Mislav Marohnić.
  Please leave your message after the tone.
  *BEEP*
layout: default
---

<h1>About me</h1>

<div id="description" class="vcard">
  <p>
    <img src="/images/mislav.jpg" alt="Photo of Mislav" class="photo">
    My name is <span class="fn" lang="hr">Mislav Marohnić</span>.
    I type on the keyboards and sometimes it makes stuff happen to computers.
    Then I put it online. 👌
  </p>
  <p>
    I write <a href="/blog/">resources for software developers</a>
    and do open source for fun and profit.
  </p>
  <p>
    You can grab a hold of me via:
  </p>
  <ul>
    <li>
      <span class="emoji">📧</span>
      <a class="email" href="mailto:mislav.marohnic@gmail.com">mislav.marohnic@gmail.com</a>
    </li>
    <li>
      <span class="emoji">🐤</span>
      <a rel="me" href="http://twitter.com/mislav">@mislav</a>
    </li>
    <li>
      <span class="emoji">📷</span>
      <a rel="me" href="http://instagram.com/mislav" title="Mislav's Instagram photo stream">Instagram</a>,
      <a rel="me" href="http://www.flickr.com/photos/mislav-marohnic/" title="Mislav's photos on Flickr">Flickr</a>
    </li>
  </ul>
</div>

<h2>Latest blog post</h2>

<section class="posts hfeed">
{% for post in site.posts %}
  {% unless post.link or rendered_one %}
  <article class="hentry">
    <header>
      <h2 class=entry-title><a rel=bookmark href="{{ post.url }}">{{ post.title }}</a></h2>
      <time datetime="{{ post.date | date_to_xmlschema }}" class=published pubdate>{{ post.date | date_to_string }}</time>
    </header>
    {% if page.description %}<p class=entry-summary>{{ post.description }}</p>{% endif %}
  </article>
  {% assign rendered_one = true %}
  {% endunless %}
{% endfor %}

  <nav><a class="home" href="/blog/">→ All blog posts</a></nav>
</section>
