body, p, ul, ol, li, dt, dd, dl, h1, h2, h3, h4, h5, h6, pre, code, table, td, th { margin: 0; padding: 0; font-size: 100%; }

body {
  font: 300 100%/1.6em "Minion Pro", "Palatino", "Hoefler Text", "Times New Roman", serif;
  margin: 3em 3em 3em 40px;
  max-width: 55em;
  position: relative;
  color: #222;
  background: #ededed url(noise.png);
}
#post p, #post li { font-size: 1.2em; line-height: 1.6; }
table { font: 300 100%/1.6em "Gill Sans", "Lucida Grande", Helvetica, Arial, sans-serif; }

a:link, a:visited { color: #cc5d21; text-decoration: underline; font-weight: 500; }
#post p a:visited, li a:visited { color: inherit; }
a:hover { color: #e96f1e; }
a.home { text-decoration: none; font-weight: normal; text-transform: uppercase; }
a.home:first-child { position: relative; top: -1em; }
a.home:hover { text-decoration: underline; }
a img { border: none; }

h1 { margin-bottom: 0.6em; }
h1 + p.subtext {
  margin-top: -1.2em; margin-bottom: 2em;
  color: #666;
  font-style: italic;
  font-variant: small-caps;
}
h1 + p.subtext + h2 { margin-top: 0; }

h1, h2, h1 a:link, h2 a:link { color: #1c4973; font-weight: normal; }

h1, h2 {
  font: 300 2.4em "Museo", "Cochin", Georgia, "Times New Roman", serif;
  border-left: 30px solid #b3c1cd;
  padding-left: 10px; margin-left: -40px;
  text-shadow: rgba(28, 73, 115, .7) 0 0 4px;
  clear: both;
}

h2 { margin-top: 1.2em; margin-bottom: 0.7em; font-size: 1.5em; }
.delicious-posts h2 { margin-left: 0; border-left: 0; padding-left: 0; }

#description p:first-child { font-size: 1.3em; margin: 1.2em 2em 2em; text-align: center; color: #333; }
#description p:first-child a { font-weight: normal; }

#links_me { margin: -2em 0 2em 0; color: #6d7d21; }
#links_me a:hover { color: black; }

p.post-info, dl.posts .post-info { margin-top: -1.2em; color: #666; font-style: italic; font-size: 90%; }
p.post-info .date, dl.posts .post-info .date { color: #6d7d21; font-weight: bold; }

dl.posts dd, dl.feeds dd { margin: 0 0 .4em 1em; }

ol.posts { list-style: none; line-height: 1.6; }
ol.posts.home { font-size: 1.1em; }
ol.posts li { color: #aaa; padding-bottom: .4em; }
ol.posts li a:visited { color: #444; }
ol.posts li .date {
  font-family: "American Typewriter", Monaco, Courier, monospace;
  color: #777;
  font-size: 90%;
  display: inline-block;
  min-width: 6.7em;
}
ol.posts li .date + a { margin-left: .5em; }
ol.posts li .categories { color: #777; }

@media only screen and (device-width: 768px) and (orientation: landscape) {
  body { max-width: none; }
  ol.posts.home {
    font-size: .9em;
    -webkit-column-count: 2; -webkit-column-gap: 2em;
  }
  ol.posts li .date + a { margin-left: 0; }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body { font-size: 75%; margin: .4em .6em; }
  a.home:first-child { position: static; top: 0; }
  ol.posts.home { font-size: 1em; }
  h1, h2 { border-left: none; margin-left: 0; padding-left: 0; }
  ol.posts li .date { min-width: 0; display: block; }
  ol.posts li .date + a { margin-left: 0; }
  #post div.thumbnail { float: left; width: 100%; }
  #post li { margin-left: 1.5em; }
}

dl.feeds dt { padding-left: 20px; background: transparent url(/images/feed-icon-small.png) no-repeat left 50%; }

div.breadcrumbs { padding-bottom: .1em; padding-left: 40px; margin-left: -40px; font-size: 90%; color: #444; background: #ddd; margin-top: -1em; }

h3 { font-size: 1.1em; margin-top: 1.5em; }

p, ul, ol { margin: 0.8em 0; }

ins { text-decoration: none; border-bottom: 1px dotted #c0c0c0; border-color: #adb585; }

#foo { border-top: 1px solid gray; padding: 0.5em 0; margin-top: 1em; }

pre, code { font-family: Monaco, Courier, monospace; }
pre {
  color: black;
  font-size: 1em;
  line-height: 1.5em;
  background: #dfe7b7;
  border-left: 30px solid #8f9b58;
  margin-left: -40px;
}
pre code { display: block; padding: 1em 1.2em 1em 10px; }
pre code.before { background: #ddd; }
pre code.before .comment { color: #6d7d21; }

code .keyword { font-weight: bold; }
code .string { color: #b60d27; }
code .comment { color: #666; }
code .bracket, code .symbol { color: #455500; font-weight: bold; }
code.error { background-color: #FFC5B8; }
code.left, code.right { width: 45%; }
code.left { float: left; margin-right: 10px; }
code.separator { border-bottom: 1px solid #6d7d21; }

p code, h1 code, h2 code, h3 code { font-size: .8em; }

p code { background: #dfe7b7; padding: .3em .3em .2em .3em; white-space: nowrap; }
p a:link code, p a:visited code { text-decoration: underline; }

blockquote {
  border-left: 3px solid #aaa;
  margin-left: 0;
  padding-left: 1em;
  font-weight: 300;
  font-style: italic;
}

.delicious-posts { line-height: 140%; padding-bottom: 2em; }
.delicious-posts li { padding-bottom: 0.5em; }

.columns { margin-top: 1.5em; }
.columns .main h2:first-child, .columns .sidebar h2:first-child { margin-top: 0; }
.columns .main { float: left; width: 65%; }
.columns .sidebar { float: right; width: 28%; padding: 1em 2%; background: #eee; }
.columns .sidebar h2 { font-size: 1.2em; margin-left: 0; padding-left: 0; border: none; }
.columns .sidebar ol, .columns .sidebar ul { list-style: none; }
.columns .sidebar ol li, .columns .sidebar ul li { margin: 0; border-bottom: 1px solid silver; }
.columns .sidebar ol li.current, .columns .sidebar ol li a, .columns .sidebar ul li.current, .columns .sidebar ul li a { padding: .2em .5em; }
.columns .sidebar ol li.current, .columns .sidebar ul li.current { background: #dfe7b7; }
.columns .sidebar ol li a, .columns .sidebar ul li a { display: block; }
.columns .sidebar ol li a:hover, .columns .sidebar ul li a:hover { background: lemonchiffon; }
.columns .sidebar ol li:first-child, .columns .sidebar ul li:first-child { border-top: 1px solid silver; }
.columns .sidebar .delicious-posts { padding-top: 1em; padding-bottom: 0; }
.columns .sidebar .delicious-posts ol li { border: none; font-size: 90%; }
.columns .sidebar .delicious-posts ol li div { font-size: 90%; margin-top: .3em; }
.columns .sidebar .delicious-posts a { display: inline; padding: 0; }
.columns .sidebar .delicious-posts a.delicious-link, .columns .sidebar .delicious-posts .delicious-network-username, .columns .sidebar .delicious-posts .delicious-network-add { font-size: 90%; }
.columns:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.delicious-network-badge { border: 1px solid #999; margin-bottom: 1em; padding: .5em 1em; background: white; }
.delicious-network-badge span { display: block; }
.delicious-network-badge br { display: none; }
.delicious-network-badge .delicious-network-fans { font-size: 1.6em; text-align: center; margin: 0.4em 0; color: #555; }

.dopplr-badge li { border: none !important; }
.dopplr-badge li a { display: inline !important; padding: 0 !important; }
.dopplr-badge .d-status { line-height: 1.4em; }

#twitter_div p { color: #666; margin-top: -1em; font-style: italic; }

#twitter_update_list { list-style: disc; }
#twitter_update_list .when { font-size: 85%; color: #666; }
#twitter_update_list .when a { font-weight: normal; }
