---
permalink: /blog/
layout: default
title: Mislav's blog
description: >
  Mislav's tech writings.
---

<header id=blog>
<h1>{{ page.title | escape }}</h1>

<p>
  Tech writings by
  <a href="/">Mislav Marohnić</a>
  · <a href="https://twitter.com/mislav" rel="me">twitter</a>
  · <a href="https://github.com/mislav" rel="me">github</a>
</p>
</header>

<section class="posts hfeed">
{% for post in site.categories["tech"] %}
  {% unless post.tags contains "dated" %}
  <article class="hentry">
    <header>
      <h2 class=entry-title>
        <a rel=bookmark href="{{ post.url }}">{{ post.title | escape }}</a>
        {% if post.tags contains "featured" %}<span aria-label="featured">🌟</span>{% endif %}
      </h2>
      <time datetime="{{ post.date | date_to_xmlschema }}" class=published pubdate>{{ post.date | date_to_string }}</time>
    </header>

    {% if page.description %}<p class=entry-summary>{{ post.description | escape }}</p>{% endif %}
  </article>
  {% endunless %}
{% endfor %}
</section>
