<!DOCTYPE html>
<html>
  <head profile="http://gmpg.org/xfn/11">
    <link href="/feeds/dev.xml" rel="alternate" title="Mislav's blog" type="application/atom+xml">
    <link rel="stylesheet" type="text/css" href="/stylesheets/default.css">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <meta charset="UTF-8">
    <title>{{ page.title | replace:'&nbsp;',' ' | escape }}</title>
    {% if page.description %}
    <meta name="description" content="{{ page.description | escape }}">
    {% endif %}
    <meta name=author lang=hr content="Mislav Marohnić">
    <meta content='initial-scale=1.0' name='viewport'>
    <link rel="icon" href="/favicon.ico">

    {% if page.styles %}
    <style type="text/css" media="screen">{{ page.styles }}</style>
    {% endif %}
  </head>
  
  <body>
    {{ content }}

<script type="text/javascript">
{% include tracking_code.js %}
</script>
  </body>
</html>
