<!DOCTYPE html>
<html>
  <head profile="http://gmpg.org/xfn/11">
    <link href="http://feeds.feedburner.com/mislav/dev" rel="alternate" title="Webdev (all)" type="application/atom+xml">
    <link href="http://feeds.feedburner.com/mislav/js" rel="alternate" title="JavaScript" type="application/atom+xml">
    <link href="http://feeds.feedburner.com/mislav/rails" rel="alternate" title="Rails" type="application/atom+xml">
    
    <link rel="stylesheet" type="text/css" href="/stylesheets/default-vibrant.css">
    <!--<script src="/javascripts/all.js" type="text/javascript"></script>-->
    
    <title>{{ page.title | strip_html }}</title>
    {% if page.description %}
    <meta name="description" content="{{ page.description | xml_escape }}">
    {% endif %}
    <meta name="author" content="Mislav Marohnić &lt;mislav.marohnic@gmail.com&gt;">
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta content='initial-scale=1.0' name='viewport'>
    <link rel="icon" href="/favicon.ico">

    <link rel="openid.server" href="http://www.myopenid.com/server">
    <link rel="openid.delegate" href="http://mislav.myopenid.com/">
    <link rel="openid2.local_id" href="http://mislav.myopenid.com">
    <link rel="openid2.provider" href="http://www.myopenid.com/server">
    <meta http-equiv="X-XRDS-Location" content="http://www.myopenid.com/xrds?username=mislav.myopenid.com">
    
    {% if page.styles %}
    <style type="text/css" media="screen">{{ page.styles }}</style>
    {% endif %}
  </head>
  
  <body>
    {{ content }}
    
    <script type="text/javascript">
    if (!window.location.host.match(/\blocal/)) {
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    }
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-87067-3");
    pageTracker._trackPageview();
    } catch(err) {}</script>
  </body>
</html>