---
layout: page
---

<p class="subtext">
  {% unless page.link %}
  By <a href="/">Mislav</a>
  {% endunless %}
  on <time datetime="{{ page.date | date_to_xmlschema }}" pubdate>{{ page.date | date_to_string }}</time>
  {% if page.category == 'js' or page.category == 'rails' %}in <a href="/{{ page.category }}/">{{ page.category }}</a>
  {% elsif page.categories != empty %}in {{ page.categories | array_to_sentence_string }}
  {% endif %}
</p>

<div id="post"{% if page.link %} class=link{% endif %}>
  {{ content }}
</div>

<div id="related">
  {% unless page.link %}
  <h2>Also on this site</h2>
  
  <ol class="posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <span class="date">{{ post.date | date_to_string }}</span>
        ▸ <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ol>
  {% endunless %}
  
  <p>
  You should <a href="http://twitter.com/mislav" rel="me">follow me on Twitter: @mislav</a>.
  Additionally, <a href="/feeds/">subscribe to my blog</a>.
  </p>
  
  <a class="home" href="/blog/">← all posts</a>
</div>
