---
layout: default
---

<article class=hentry>

<header>
<h1 class=entry-title>{{ page.title | escape }}</h1>

<p class="byline author vcard instapaper_ignore entry-unrelated">
  by <a href="/" rel=author class=fn lang=hr>Mislav Marohnić</a>
  &middot;
  {% if page.updated %}
  <time datetime="{{ page.date | date_to_xmlschema }}" pubdate>{{ page.date | date_to_string }}</time>
  <time class=updated datetime="{{ page.updated }}"></time>
  {% else %}
  <time datetime="{{ page.date | date_to_xmlschema }}" pubdate>{{ page.date | date_to_string }}</time>
  {% endif %}
</p>
</header>

<div id="post" class="entry-content">
  {{ content }}
</div>

</article>

<aside id="related">
  <h2>Also on this site</h2>
  
  <ol class="posts">
    {%- assign numrelated = 0 -%}
    {%- assign category = page.categories[0] -%}
    {%- for related in site.categories[category] -%}
      {% if numrelated < 5 and related.url != page.url -%}
        {%- assign numrelated = numrelated | plus:1 -%}
      <li>
        <span class="date">{{ related.date | date_to_string }}</span>
        ▸ <a href="{{ related.url }}">{{ related.title | escape }}</a>
      </li>
      {%- endif -%}
    {% endfor %}
  </ol>
  
  <nav>
    {% if category == "writings" %}
    <a class="home" href="/writings/">← all posts</a>
    {% else %}
    <a class="home" href="/blog/">← all posts</a>
    {% endif %}
    &middot;
    <a href="https://twitter.com/mislav" rel="me">follow me on Twitter</a>
  </nav>
</aside>
