---
layout: page
---

<p class="subtext">
  By <a href="/about/">Mislav</a>
  on <b>{{ page.date | date_to_string }}</b>
  in <a href="/{{ page.category }}/">{{ page.category }}</a>
</p>

<div id="post">
  {{ content }}
</div>

<div id="related">
  <h2>Also on this site</h2>
  
  <ol class="posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <span class="date">{{ post.date | date_to_string }}</span>
        ▸ <a href="{{ post.url }}">{{ post.title }}</a>
        <span class="categories">{{ post.categories | array_to_sentence_string }}</span>
      </li>
    {% endfor %}
  </ol>
  
  <p>Like what you see? Find out about <a href="/projects/">my projects</a> and <a href="/feeds/">subscribe</a> or <a href="http://twitter.com/mislav" rel="me">follow me on Twitter</a>.</p>
  
  <a class="home" href="/">← home</a>
</div>

