<!doctype html>
<html>
  <head>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>{{ page.title | strip_html | escape_once }}</title>
    {% if page.description %}
    <meta name="description" content="{{ page.description | strip_html | escape_once }}">
    {% endif %}
    <meta name="author" content="Mislav Marohnić &lt;mislav.marohnic@gmail.com&gt;">
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico">
    <meta name="viewport" content="initial-scale=1.0">
    
    {% if page.styles %}
    <style type="text/css" media="screen">{{ page.styles }}</style>
    {% endif %}
  </head>
  
  <body>
    {{ content }}
    
<script type="text/javascript">
{{ site.tracking_code }}
{{ site.extra_tracking_code }}
</script>
  </body>
</html>
