<!doctype html>
<html>
  <head>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>{{ page.title | replace:'&nbsp;',' ' | escape }}</title>
    {% if page.description %}
    <meta name="description" content="{{ page.description | escape }}">
    {% endif %}
    <meta name=author lang=hr content="Mislav Marohnić">
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico">
    <meta name="viewport" content="initial-scale=1.0">
    
    {% if page.styles %}
    <style type="text/css" media="screen">{{ page.styles }}</style>
    {% endif %}
  </head>
  
  <body>
    {{ content }}
    
<script type="text/javascript">
{% include tracking_code.js %}
</script>
  </body>
</html>
